[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
types-requests = "*"

[dev-packages]
setuptools = "*"
tox = "*"
rope = "*"
pylint = "*"
pyyaml = "*"
wheel = "*"
black = "*"
pycodestyle = "*"
pytest = "*"

[requires]
python_version = "3.8"
